.error {
    color: red;
    padding: 3px;
    display: none;
}

.input-custom:invalid[focused="true"]~span {
    display: block;
}

.avatar-preview{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 1em;
}